@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(205, 237, 246, 1));
    height: 100vh;
    font-family: 'Open sans', 'serif';
}
.titulo{
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8rem;
}
.cabecalho {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.formas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.botao-inicial {
    height: 6.5vh;
    width: 11vw;
    font-size: 1rem;
    color: rgba(94, 177, 191, 1);
    font-weight: 550;
    border-style: solid;
    border-radius: 14px;
    border-color: rgba(94, 177, 191, 1);
    border-width: 3px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}
svg {
    stroke-width: 20;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.content {
    width: 80%;
}
.titulo_principal {
    font-size: 1.7vw;
    font-weight: 700;
    color: #04  212B;
}
.titulo_secundario {
    font-size: 2vw;
    font-weight: 300;
    color: #04212B;
}

.section-informacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}
.informacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

.imagem {
    width: 100%;
    max-height: 250px;
 }

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    width: 100%;
 }

.botao {
    width: 46%;
    font-size: 1.5vw;
    font-weight: 700;
    height: 4rem;
    border-radius: 15px;
    border-width: 3px;
    border-color: #04212B;
    border-style: solid;
    cursor: pointer;
    max-height: 200px;

}
.botao1 {
    background-color: transparent;
    color: #04212B;
}
.botao2 {
    color: #FFFFFF;
    background-color: #04212B;
}
.rodape {
    margin-left: 10%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    gap: 2rem;


}